@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Pacifico);

/*
Creates dark red border around web
*/
#top, #bottom, #left, #right {
	background: rgb(159, 45, 47);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 0px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.container {
	width: 100%;
    height: 100%;
    position: relative;
    top: 10%;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;

    position: relative;
    top: 50px;
}

/*
Sets background to light red
*/
body {
	background-color: rgb(245, 79, 83);
	letter-spacing: 2px;
}

.button.cta {
  display: inline-block;
  position: relative;
  margin: 1.2em 0 1em 0;
  padding: 1em;
   width: 100px;
    height: 50px;
    background: rgb(156, 47, 44);
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
  padding: 5px 5px;
  border-radius: 5px;
}

/* Fade */
.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgba(238, 156, 155, 0.85);
  color: white;
}

/*
select {
	color: red;
}*/

/*
.container h1{
	font-family: 'Pacifico', cursive;
	color: rgb(255, 255, 255);
	font-size: 70px;
	position: relative;
	bottom: 30px;
}*/

/*
Sets color, font, and size of "Original" and "Translated"
*/
h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 26px;
	color: rgb(255, 255, 255);
}

/*
input{
	background-color: rgb(245, 79, 83);
	border-color: rgb(154, 45, 47);
	border-width: 1px;
	color: rgb(255, 255, 255);
}*/

/*
.container input{
	background-color: rgb(245, 79, 83);
	border-color: rgb(154, 45, 47);
	border-width: 1px;
	color: rgb(255, 255, 255);
}*/

/*
changes the color and settings of the Language scroller 
*/
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   color: rgb(245, 79, 83);
   white-space: pre-wrap;
   font-family: 'Open Sans', sans-serif;
   font-size: 20px;
   width: 90px;
   text-align: center;
   border-radius: 5px;
   font-weight: bold;
   margin-left: 5px;
   height: 34px;
}

/*
.main{
	background-color: rgb(245, 79, 83);
}*/

/*
.container .col-md-6{
	position: relative;
	top: 40px;
}*/

/*
sets font, color, position, and font size of title of website
*/
.container h1{
	font-family: 'Pacifico', cursive, sans-serif;
	color: rgb(255, 255, 255);
	font-size: 70px;
	position: relative;
	bottom: 30px;
	margin: 40px auto;
}

/*
Size, color, font of Song title
*/
h3 {
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 40px;
}

/*
Sets font, size, and color of text inside search boxes
*/
input[type=text] {
	background-color: rgb(245, 79, 83);
	border-color: rgb(154, 45, 47);
	border-width: 1px;
	border-color: rgba(111, 34, 31, 1);
	color: rgb(255, 255, 255);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

/*
Sets font, size, and color of botton
*/
.container button{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: rgb(159, 45, 47);
}

/*
.translation {
	position: relative;
	bottom: 300px;
	background-color: red;
	margin: auto;
	width: 100%;
}*/

table {
	width: 100%;
}

td {
	width: 50%;
}

#options {
	margin: 20px auto;
	width:500px;
	text-align: center;
}


#lyricsContent{
	width: 900px;
	margin: auto;
}

#submitCell {
	text-align: right;
}


h4.text-left {
	display: inline;
}

/*search field*/
#searchForm {
	width: 500px;
	margin: 50px auto;
	padding: 100px;
}

#searchBox {
	width: 400px;
	padding: 8px 15px;
	background: #eeeeee;
	border: 0px solid #dbdbdb;
	font-size: 15px;
}

#search {
	position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    font-size: 15px;
}

#search:hover {
	background-color: #fafafa;
	color: #207cca;
}

/*
Sets color and border color of textarea for the song lyrics
*/
.lyricstext{
	background-color: rgba(241, 157, 157, 0.79);
	border-color: rgb(245, 79, 83);
	/*
	border-width: 5px;*/
}

/*
.translation .form-control{
	background-color: rgb(159, 45, 47);
}*/

/*
.form-control input{
	background-color: rgb(245, 79, 83);
	border-color: rgb(154, 45, 47);
	border-width: 1px;
	color: rgb(255, 255, 255);
}*/

.form-control {
	font-size: 20px;
	resize: none;
}

/*
The next three methods sets the placeholder text inside the
search boxes
*/
.form-control::-webkit-input-placeholder { 
	position: relative;
	bottom: 1px;
	color: white; 
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.form-control::-moz-placeholder { 
	position: relative;
	bottom: 2px;
	color: white; 
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.form-control:-ms-input-placeholder { 
	position: relative;
	bottom: 2px;
	color: white; 
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

/*
Moved the "Translate" button to under the search boxes
*/
.buttonArea{
	position: relative;
	top: 20px;
}

/*
right aligns "Translated" text to its lyrics textarea
*/
#pencil{
	float: right;
}

/*
Moves the song title and everything under it upwards
*/
#translation{
	position: relative;
	top: 30px;
	margin-top: 30px;
}
