#top, #bottom, #left, #right {
	background: rgb(159, 45, 47);
	position: fixed;
	}
	#left, #right {
		top: 0; bottom: 0;
		width: 0px;
		}
		#left { left: 0; }
		#right { right: 0; }
		
	#top, #bottom {
		left: 0; right: 0;
		height: 20px;
		}
		#top { top: 0; }
		#bottom { bottom: 0; }

.container {
	width: 900px;
    height: 400px;
    position: relative;
    top: 10%;
    bottom: initial;
    left: 0;
    right: 0;
    margin: auto;

    position: relative;
    top: 50px;
}

body {
	background-color: rgb(245, 79, 83);
}

.container h1{
	font-family: 'Pacifico', cursive;
	color: rgb(255, 255, 255);
	font-size: 70px;
	position: relative;
	bottom: 30px;
}

h4{
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	color: rgb(255, 255, 255);
}

.container input{
	background-color: rgb(245, 79, 83);
	border-color: rgb(154, 45, 47);
	border-width: 1px;
	color: rgb(255, 255, 255);
}

.container textarea{
	background-color: rgb(241, 157, 157);
	border-color: rgb(241, 157, 157);
}


.main{
	background-color: rgb(245, 79, 83);
}

.container .col-md-6{
	position: relative;
	top: 40px;
}

.container h1{
	font-family: 'Indie Flower', cursive, sans-serif;
	font-weight: bold;
	font-size: 70px;
	position: relative;
	bottom: 30px;
	margin: 40px auto;
}

h3 {
	text-align: center;
}

input[type=text] {
	background: #eeeeee;
	border: 0px solid #dbdbdb;
	font-size: 15px;
	width: 70px;
}

.translation {
	position: relative;
	background-color: red;
	margin: auto;
	width: 100%;
}

table {
	width: 100%;
}

td {
	width: 50%;
}

#options {
	margin: 20px auto;
	width:500px;
	text-align: center;
}

#lyricsContent{
	width: 900px;
	margin: auto;
}

#submitCell {
	text-align: right;
}


h4.text-left {
	display: inline;
}

/*search field*/
#searchForm {
	width: 500px;
	margin: 50px auto;
	padding: 100px;
}

#searchBox {
	width: 400px;
	padding: 8px 15px;
	background: #eeeeee;
	border: 0px solid #dbdbdb;
	font-size: 15px;
}

#search {
	position:relative;
    padding:6px 15px;
    border:2px solid #207cca;
    background-color:#207cca;
    color:#fafafa;
    font-size: 15px;
}

#search:hover {
	background-color: #fafafa;
	color: #207cca;
}

.form-control::-webkit-input-placeholder { 
	color: white; 
	font-family: 'Open Sans Condensed', sans-serif;
}
.form-control::-moz-placeholder { 
	color: white; 
	font-family: 'Open Sans Condensed', sans-serif;
}
.form-control:-ms-input-placeholder { 
	color: white; 
	font-family: 'Open Sans Condensed', sans-serif;
}

